@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SpyPie</title>
    <link rel="SHORTCUT ICON" href="~/Assets/app/css/img/pie.ico" />
    @Styles.Render("~/content/css")
</head>
<body class="landing-layout">
        @RenderBody()

</body>
</html>