@using System.Web.Optimization
@model ProyectoIntegrado.Models.LoginModel

@{
    Layout = "_LoginLayout.cshtml";
}

<div class="col-md-6 col-md-offset-3 well">
    <div id="login" class="animate form-horizontal" role="form">
        <form action="@Url.Action("MenuPrincipal")" class="form-signin" method="POST" autocomplete="on">
            <fieldset>
                <legend>Вход</legend>
                <span class="text-danger">
                    @Html.ValidationSummary()
                    @Html.HiddenFor(x => x.ReturnUrl)
                </span>
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input id="email" class="form-control" name="email" required="required" placeholder="Введите email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label">Пароль</label>
                    <div class="col-md-10">
                        <input id="password" class="form-control" name="password" required="required" type="password" placeholder="Введите пароль" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.RememberMe) Запомнить меня
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" class="btn btn-large btn-primary" value="Войти" />
                        <a id="forgotPasswordLink" class="text-right" href="/account/forgot">Забыли пароль?</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
