
@{
    ViewBag.Title = "Mantenimiento";
}
<head>
    <style>
        body {
            background-image: url(https://hdwallsource.com/img/2014/5/cow-wallpaper-20056-20563-hd-wallpapers.jpg);
            background-size: cover;
        }

        .menu1 {
            color: white;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./MenuPrincipal">Logotipo</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href=".Contact">Recepcion de Muestras</a></li>
                <li class=""><a href="#">Informe de Resultados</a></li>
                <li class=""><a href="#">Mantenimiento</a></li>

            </ul>

        </div>

    </nav>
    <br />
    <br />

    <fieldset>
        <a class="menu1" href="./Clientes" style="color:white">● Maestro de Clientes</a>
    </fieldset>
    <br />
    <fieldset>
        <a class="menu1" href="./Analisis" style="color:white">● Maestro de Análisis</a>
    </fieldset>

</body>